/* Creates the databases and users. Also sets permissions. */

SET old_passwords=0;

CREATE DATABASE PHPMYADMIN_DATABASE_NAME;
CREATE DATABASE LARAVEL_DATABASE_NAME;

CREATE USER 'PHPMYADMIN_DATABASE_USER'@'%' IDENTIFIED BY 'PHPMYADMIN_DATABASE_PASSWORD';
CREATE USER 'GROWFRIDGE_DATABASE_USER'@'%' IDENTIFIED BY 'GROWFRIDGE_DATABASE_PASSWORD';
CREATE USER 'LARAVEL_DATABASE_USER'@'%' IDENTIFIED BY 'LARAVEL_DATABASE_PASSWORD';

GRANT ALL PRIVILEGES ON PHPMYADMIN_DATABASE_NAME.* TO 'PHPMYADMIN_DATABASE_USER'@'%';
GRANT ALL PRIVILEGES ON PHPMYADMIN_DATABASE_NAME.* TO 'LARAVEL_DATABASE_USER'@'%';
GRANT ALL PRIVILEGES ON LARAVEL_DATABASE_NAME.* TO 'PHPMYADMIN_DATABASE_USER'@'%';
GRANT ALL PRIVILEGES ON LARAVEL_DATABASE_NAME.* TO 'LARAVEL_DATABASE_USER'@'%';
GRANT ALL PRIVILEGES ON LARAVEL_DATABASE_NAME.conditions TO 'GROWFRIDGE_DATABASE_USER'@'%';
GRANT ALL PRIVILEGES ON LARAVEL_DATABASE_NAME.schedules TO 'GROWFRIDGE_DATABASE_USER'@'%';

FLUSH PRIVILEGES;
